body {
  background: #f8f9fa;
  font-family: Arial;
}

/* Upload box */
.upload-box {
  border: 2px dashed #0d6efd;
  padding: 50px;
  border-radius: 12px;
  background: white;
  transition: 0.3s;
}

.upload-box:hover {
  background: #e9f2ff;
  cursor: pointer;
}

.upload-box span {
  color: #0d6efd;
  cursor: pointer;
  font-weight: bold;
}

#fileName {
  margin-top: 10px;
  color: green;
}
