body {
  background: #f4f7fb;
  font-family: Arial;
}

.tool-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.tool-card:hover {
  transform: translateY(-5px);
  background: #e9f2ff;
}

.ad-box {
  height: 90px;
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}
